.hero {
  background-color: black;
}
.section1 {
  height: 540px;
  background: linear-gradient(rgba(12, 12, 12, 0.7), rgba(0, 0, 0, 0.7)),
    url("/properties/bg-1.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  h1 {
    font-size: 65px;
  }
  p {
    font-size: 20px;
  }
}
.section1Inner {
  width: 25%;
  opacity: 1.5;
}
@media (max-width: 1440px) {
  .section1 {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 15px;
    }
  }
}
@media (max-width: 1024px) {
  .section1 {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 10px;
    }
  }
}
