
.antdform {
    margin-top: 100px;
    :global(.ant-input) {
      padding: 15px;
      border-color: #494949;
      &:hover{
        border-color: #494949;
      }
      &:focus{
        border-color: #b39359;
        box-shadow: 0px 6px 15px rgba(0,0,0,0.1);
      }
    }
  
    :global(.ant-row) {
      label {
        font-size: 20px;
        font-weight: 500;
        margin-left: 5px;
      }
    }
  }
  
//   .setlabel {
//     margin-top: 30px;
//   }
  
  .setcol {
    margin-top: 12px;
    border: 1px solid #aba8a8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
    svg {
      width: 20px;
      height: 20px;
    }
    
  
    :global(.ant-form-item) {
      margin-bottom: 40px;
      margin-top: 40px;
    }
  
    :global(.ant-btn) {
      display: flex;
      align-items: center;
      height: 45px;
      background: #0b2c3d;
      color: white;
      border: none;
    }
  }
  
  .container2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  
  h2{
    margin-left: 40px;
  }
    :global(.ant-radio-wrapper) {
      margin-bottom: 30px;
      font-size: 16px;
      padding: 0px 5pc 0px 40px;
  
      @media (max-width: 900px) {
        padding: 0px 20px 0px 0px;
      }
    }
  
    :global(.ant-radio) {
      margin-top: 3px;
    }
  
    :global(.ant-radio-wrapper:last-child) {
      margin-bottom: 0px;
    }
  
  
    @media (max-width: 860px) {
      justify-content: center;
      gap: 20px;
    }
  
    @media (max-width: 725px) {
      flex-direction: column;
      gap: 100px;
    }
  
  }
  
  .setimg {
    img {
      width: 400px;
      height: 310px;
  
      // @media (max-width: 860px) and (min-width: 725px) {
      //   width: 300px;
      //   height: 300px;
      //   @media (max-width: 725px) {
      //     width: 100%;
      //     height: auto;
      //     padding: 10px;
      //   }
      // }
    }
  }
  
  .label {
    font-size: 26px;
    margin-bottom: 30px;
  }
  
  .addproperty {
    margin-left: 150px;
    margin-bottom: 40px;
    button {
      margin-left: 10px;
      background-color: #0b2c3d;
      color: white;
      border-radius: 8px;
      padding: 12px 45px 12px 45px;
      font-size: 20px;
      &:hover{
        background-color: #b39359;
      }
    }
  }
  
  