.SideBarMain{
    gap: 50px;
    display: flex;
    margin-top: 100px;

    @media (max-width:768px) {
        flex-direction: column-reverse;
    }
  }

  .rightSideBar{
    flex-direction: row-reverse;
  }