.featuredPropertey {
  margin-top: 150px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    span{
      color: #b39359;
    }
    h1 {
      font-size: 36px;
      font-family: Lora;
    }
    p {
      font-size: 18px;
      color: #b39359;
    }
    ul {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      li{
        cursor: pointer;
        font-size: 18px;
        &:hover{
          color: #b39359;
        }
      }
  
      @media (max-width: 660px) {
        gap: 20px;
      }
    }
  }
  .propertyCard {
    flex-wrap: wrap;
    display: flex;
    gap: 40px;
    @media (min-width: 500px) {
      justify-content: center;
    }
  
    @media (max-width: 882px) {
      padding: 2vw;
    }
  }
  .propertyCardItem {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 550px;
    min-width: 300px;
    box-shadow: 4px 1px 17px 0px #dbdbdb;
    &:hover{
      transform: translateX(0) translateY(-10px)
      rotate(0)
      skewX(0)
      skewY(0)
      scaleX(1)
      scaleY(1);
      transition-duration: 400ms;
    }
    img {
      width: 100%;
    }
  }

  .propertyCardItemChild {
    position: relative;
    img{
      border-radius: 8px;
    }
  }
  .camera {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 16px;
    top: 8px;
    gap: 6px;
    padding: 5px;
  
    button {
      gap: 5px;
      border-radius: 2px;
      padding: 2px 6px 2px 6px;
      display: flex;
      align-items: center;
      color: white;
      background: #294d62;
      font-size: 12px;
    }
  }
  .propertyCardChild {
    padding: 20px;
  
    h3 {
      font-size: 26px;
      font-family: Lora;
    }
    h4 {
      font-size: 14px;
      font-weight: 300;
      text-decoration: underline;
      color: #62615f;
    }
    span {
      font-size: 14px;
      line-height: 2;
      color: #62615f;
    }
  
    li {
      border-right-width: 1px;
      padding-right: 19px;
      border-color: black;
      color: #62615f;
      display: flex;
      align-items: center;
      gap: 9px;
      margin-bottom: 5px;
    }
  
    li:last-child {
      border: none;
    }
  
    ul {
      border-bottom-width: 1px;
      border-color: black;
    }
  
    @media (max-width: 1290px) and (min-width: 1162px) {
      li {
        padding: 0;
      }
    }
  
    @media (max-width: 860px) and (min-width: 760px) {
      li {
        padding: 0;
        border: none;
      }
    }
  
    @media (max-width: 700px) {
      li {
        border: none;
      }
    }
    @media (max-width: 375px) {
      li {
        padding: 0;
        border: none;
      }
    }
  }
  .pagination{
    margin-bottom: 100px;
  }
  .forSale {
    position: absolute;
    background-color: "white";
    bottom: 16px;
    left: 10px;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 2px;
    padding: 0px 4px 0px 4px;
  }
  