.header {
    margin-bottom: 7vw;
    background: linear-gradient(rgba(12, 12, 12, 0.8), rgba(0, 0, 0, 0.8)),
      url("/properties/bg-1.webp") no-repeat center center;
    height: 70vh;
    background-size: cover;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
  
    h1 {
      font-size: 68px;
      line-height: 1.25;
      font-weight: 500;
      font-family: Lora;
    }
  
    p {
      margin-top: 20px;
      max-width: 500px;
      line-height: 1.5;
    }
  }
  